{% extends "_global/index.html" %}

{% block sredina %}
<h1>Spisak kategorija je:</h1>
<ul>
    {% for c in categories %}
    <li>
        <a href="/Nedelja01/category/{{ c.category_id }}">
            {{ c.name|escape|title }}
        </a>
    {% endfor %}
</ul>
<p>Bili ste ovde: {{ count }} puta!</p>
{% endblock %}
