{% extends "_global/index.html" %}

{% block main %}
    <ul>
        {% for auction in auctionsInCategory %}
        <li class="auction">
            <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-title">
                {{ auction.title|escape }}
            </a>

            <span class="auction-date1">{{ auction.starts_at|escape }}</span>
            <span class="auction-date2">{{ auction.ends_at|escape }}</span>
            <span class="auction-price">{{ auction.starting_price|escape }} &euro;</span>

            <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-big-image">
                <img src="{{ BASE }}assets/uploads/{{ auction.auction_id }}.jpg" alt="Velika slika - {{ auction.auction_id }}">
            </a>
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}