{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/login" method="POST">
    <div>
        <label for="input_username">Username:</label>
        <input type="text" id="input_username" name="login_username" required
               placeholder="Unesite svoje korisničko ime.">
    </div>

    <div>
        <label for="input_password">Password:</label>
        <input type="password" id="input_password" name="login_password" required
               placeholder="Unesite svoju lozinku.">
    </div>

    <div>
        <button type="submit">
            Log in
        </button>
    </div>
</form>
{% endblock %}
