{% extends "_global/index.html" %}

{% block main %}
<form action="{{ BASE }}user/register" method="POST">
    <div>
        <label for="input_email">E-mail:</label>
        <input type="email" id="input_email" name="reg_email" required
               placeholder="Unesite svoju adresu e-pošte u ovo polje.">
    </div>

    <div>
        <label for="input_forename">Forename:</label>
        <input type="text" id="input_forename" name="reg_forename" required
               placeholder="Unesite svoje ime.">
    </div>

    <div>
        <label for="input_surname">Surname:</label>
        <input type="text" id="input_surname" name="reg_surname" required
               placeholder="Unesite svoje prezime.">
    </div>

    <div>
        <label for="input_username">Username:</label>
        <input type="text" id="input_username" name="reg_username" required
               placeholder="Unesite željeno korisničko ime.">
    </div>

    <div>
        <label for="input_password_1">Password:</label>
        <input type="password" id="input_password_1" name="reg_password_1" required
               placeholder="Unesite željenu lozinku.">
    </div>

    <div>
        <label for="input_password_2">Repeat your password:</label>
        <input type="password" id="input_password_2" name="reg_password_2" required
               placeholder="Unesite željenu lozinku još jednom.">
    </div>

    <div>
        <button type="submit">
            Register
        </button>
    </div>
</form>
{% endblock %}
