{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}
<div class="categories">
    {% for category in categories %}
    <a href="{{ BASE }}category/{{category.category_id}}" class="category">
        {{ category.name }}
    </a>
    {% endfor %}
</div>
{% endspaceless %}
{% endblock %}
