{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ auction.auction_id }});">Add to bookmark</a>
    <h1>{{ auction.title|escape }}</h1>
    <p>{{ auction.description }}</p>
    <p>Pocetna cena: {{ lastOfferPrice }} EUR</p>
    <p>Datum pocetka: {{ auction.starts_at|date('j. n. Y.') }}</p>
    <p>Datum kraja: {{ auction.ends_at|date('j. n. Y.') }}</p>
{% endblock %}

{% block naslov %}
{{ auction.title|escape }}
{% endblock %}